[submodule "src/third-party/glm"]
	path = src/third-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/third-party/nanovg"]
	path = src/third-party/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "src/third-party/stb"]
	path = src/third-party/stb

	url = https://github.com/nothings/stb.git
[submodule "src/third-party/sdl2"]

	path = src/third-party/sdl2

	url = https://github.com/xeekworx/SDL2.git
[submodule "src/third-party/logger"]

	path = src/third-party/logger

	url = https://github.com/xeekworx/logger.git
[submodule "tools/autoversion"]
	path = tools/autoversion
	url = https://github.com/xeekworx/autoversion.git
[submodule "src/third-party/rapidjson"]
	path = src/third-party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
